<!DOCTYPE html>
<html>
    <head>
        <title>AWESOME CHATROOM</title>
    </head>
     <frameset rows="80,20" cols="*">
                  <!--src="/posts" -->
       <frame src="http://python-programming-course-c9-santiagobasulto_1.c9.io/top" name="topFrame">
       <frameset cols="80,*">
         <frame src="http://python-programming-course-c9-santiagobasulto_1.c9.io/left" name="leftFrame" scrolling="no" noresize>
         <frame src="http://python-programming-course-c9-santiagobasulto_1.c9.io/main" name="mainFrame">
       </frameset>
     </frameset>

</html>